<!-- registration_app/templates/about_us.html -->
{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h2>About Our University</h2>

    <nav class="internal-navigation">
        <ul>
            <li><a href="#history">History</a></li>
            <li><a href="#mission">Mission</a></li>
            <li><a href="#faculty">Faculty</a></li>
            <li><a href="#campus">Campus</a></li>
        </ul>
    </nav>

    <section id="history">
        <h3>History</h3>
        <p>Insert information about the history of the university here.</p>
        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id turpis efficitur, maximus erat vitae, vulputate magna. Integer accumsan
             lacinia nibh, ut ullamcorper enim elementum eu. 
             Nullam pharetra consectetur nulla, vitae bibendum est hendrerit eu. Praesent nec est at lacus pharetra facilisis ac ultricies ligula.
             Aenean ac mattis massa. Etiam ornare gravida ante, quis fermentum augue ultricies vel. Maecenas suscipit arcu vitae sodales lobortis. 
             Curabitur velit arcu, convallis eu dapibus eu, pharetra ut risus. Duis porta commodo condimentum. Nunc a fermentum ante. 
             Donec hendrerit mi nunc, suscipit commodo ipsum tristique nec. Donec diam eros, viverra nec suscipit sed, commodo id justo.
             Nam scelerisque euismod turpis, et vulputate nunc pulvinar a. Nunc mi lectus, volutpat sit amet lacus eget, fermentum auctor risus. 
             Proin tincidunt nulla sed risus malesuada pellentesque.
             Quisque sollicitudin ipsum pharetra, pellentesque mi in, ultrices est. Quisque sit amet felis erat. Aliquam quis ullamcorper ex,
             et pretium dolor. In rhoncus neque a magna gravida, ullamcorper interdum odio feugiat. In justo metus, dictum a nibh eu, porttitor pretium risus. 
             In quis posuere nibh. Maecenas eleifend eros ut augue elementum blandit. Proin sagittis vehicula tellus sed luctus. Aenean rutrum, eros ut luctus sagittis,
             risus eros volutpat nunc, quis porta nisi leo sit amet nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget est non purus ornare feugiat. 
             Nulla fermentum rhoncus ex nec sagittis.  </p>
    </section>

    <section id="mission">
        <h3>Mission</h3>
        <p>Insert information about the history of the university here.</p>
        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id turpis efficitur, maximus erat vitae, vulputate magna. Integer accumsan
             lacinia nibh, ut ullamcorper enim elementum eu. 
             Nullam pharetra consectetur nulla, vitae bibendum est hendrerit eu. Praesent nec est at lacus pharetra facilisis ac ultricies ligula.
             Aenean ac mattis massa. Etiam ornare gravida ante, quis fermentum augue ultricies vel. Maecenas suscipit arcu vitae sodales lobortis. 
             Curabitur velit arcu, convallis eu dapibus eu, pharetra ut risus. Duis porta commodo condimentum. Nunc a fermentum ante. 
             Donec hendrerit mi nunc, suscipit commodo ipsum tristique nec. Donec diam eros, viverra nec suscipit sed, commodo id justo.
             Nam scelerisque euismod turpis, et vulputate nunc pulvinar a. Nunc mi lectus, volutpat sit amet lacus eget, fermentum auctor risus. 
             Proin tincidunt nulla sed risus malesuada pellentesque.
             Quisque sollicitudin ipsum pharetra, pellentesque mi in, ultrices est. Quisque sit amet felis erat. Aliquam quis ullamcorper ex,
             et pretium dolor. In rhoncus neque a magna gravida, ullamcorper interdum odio feugiat. In justo metus, dictum a nibh eu, porttitor pretium risus. 
             In quis posuere nibh. Maecenas eleifend eros ut augue elementum blandit. Proin sagittis vehicula tellus sed luctus. Aenean rutrum, eros ut luctus sagittis,
             risus eros volutpat nunc, quis porta nisi leo sit amet nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget est non purus ornare feugiat. 
             Nulla fermentum rhoncus ex nec sagittis.  </p>
    </section>

    <section id="faculty">
        <h3>Faculty</h3>
        <p>Provide information about the faculty members and departments.</p>
        <p>Insert information about the history of the university here.</p>
        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id turpis efficitur, maximus erat vitae, vulputate magna. Integer accumsan
             lacinia nibh, ut ullamcorper enim elementum eu. 
             Nullam pharetra consectetur nulla, vitae bibendum est hendrerit eu. Praesent nec est at lacus pharetra facilisis ac ultricies ligula.
             Aenean ac mattis massa. Etiam ornare gravida ante, quis fermentum augue ultricies vel. Maecenas suscipit arcu vitae sodales lobortis. 
             Curabitur velit arcu, convallis eu dapibus eu, pharetra ut risus. Duis porta commodo condimentum. Nunc a fermentum ante. 
             Donec hendrerit mi nunc, suscipit commodo ipsum tristique nec. Donec diam eros, viverra nec suscipit sed, commodo id justo.
             Nam scelerisque euismod turpis, et vulputate nunc pulvinar a. Nunc mi lectus, volutpat sit amet lacus eget, fermentum auctor risus. 
             Proin tincidunt nulla sed risus malesuada pellentesque.
             Quisque sollicitudin ipsum pharetra, pellentesque mi in, ultrices est. Quisque sit amet felis erat. Aliquam quis ullamcorper ex,
             et pretium dolor. In rhoncus neque a magna gravida, ullamcorper interdum odio feugiat. In justo metus, dictum a nibh eu, porttitor pretium risus. 
             In quis posuere nibh. Maecenas eleifend eros ut augue elementum blandit. Proin sagittis vehicula tellus sed luctus. Aenean rutrum, eros ut luctus sagittis,
             risus eros volutpat nunc, quis porta nisi leo sit amet nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget est non purus ornare feugiat. 
             Nulla fermentum rhoncus ex nec sagittis.  </p>
    </section>

    <section id="campus">
        <h3>Campus</h3>
        <p>Details about the university campus and facilities.</p>
    </section>
{% endblock %}
