<!-- registration_app/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h2>Welcome to My University</h2>

    <section id="courses">
        <h3>List of Courses</h3>
        <ul>
            <li><a class="mr-2" href="/module_details/55-403333/"></a>Course 1</li>
            <li><a class="mr-2" href="/module_details/55-403333/"></a>Course 2</li>
            <li><a class="mr-2" href="/module_details/55-403333/"></a>Course 3</li>
            <!-- Add more courses as needed -->
        </ul>
    </section>

    <section id="news">
        <h3>Latest News</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </section>

    <section id="events">
        <h3>Upcoming Events</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </section>
{% endblock %}
