<!-- registration_app/templates/list_of_modules.html -->

{% extends 'base.html' %}
{% block content %}
<div class="col-md-12">
    <h1>List of Modules</h1>
    
    {% for module in modules %}
    <article class="media content-section">
        <div class="media-body">
            <h3><a class="article-title" href="{% url 'module_details' module.code %}">{{ module.name }} ({{ module.code }})</a></h3>
            <p class="article-content">Credit: {{ module.credit }}</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
