<!-- registration_app/templates/list_of_modules.html -->

{% extends 'base.html' %}

{% block content %}
'''
<h1>Modules</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ Module.author.profile }}</a>
                <small class="text-muted">{{ Module.courses_allowed }}</small>
            </div>
            <h2 class="article-title">{{ Module.code }} module {{Module.category}}</h2>
            <p class="article-content">{{ Module.description }}</p>
        </div>
    </article>
''' 

<h2>List of Modules</h2>

{% for module in modules %}
  <div class="module-item">
    <h3>{{ module.name }}</h3>
    <p>{{ module.code }}</p>
    <p>{{ module.credit }}</p>
    <p class="article-content">{{ Module.description }}</p>

    <!-- Add other module details as needed -->

    
  </div>
{% endblock content %}