<!-- registration_app/templates/module_details.html -->

{% extends 'base.html' %}
{% block content %}
<div class="col-md-12">
    <h1>Module Details</h1>
    
    <div class="media content-section">
        <div class="media-body">
            <h1>{{ module.name }} ({{ module.code }})</h1>
  <p>Credit: {{ module.credit }}</p>
  
  {% if module.availability %}
    {% if registrations.exists %}
      <p>You are registered for this module. <a href="{% url 'unregister_module' module_code=your_module.code %}">Unregister for Module</a>
      </p>
    {% else %}
      <p>You are not registered for this module. <a href="{% url 'register_module' module_code=module.code %}">Register from Module</a>
      </p>
    {% endif %}
  {% else %}
    <p>This module is closed for registration.</p>
  {% endif %}
           
        </div>
    </div>
</div>

{% endblock %}
