<!-- registration_app/templates/module_details.html -->

{% extends 'base.html' %}
{% block content %}
<div class="col-md-12">
    <h1>Module Details</h1>
    
    <div class="media content-section">
        <div class="media-body">
            <h3>{{ module.name }} ({{ module.code }})</h3>
            <p><strong>Credit:</strong> {{ module.credit }}</p>
            <p><strong>Category:</strong> {{ module.category }}</p>
            <p><strong>Description:</strong> {{ module.description }}</p>
            <p><strong>Availability:</strong> {% if module.availability %} Available {% else %} Not Available {% endif %}</p>
            <!-- Add more fields as needed -->
        </div>
    </div>
</div>
{% endblock %}
