<!-- module_detail.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>{{ module.name }}</h2>
  <p>Code: {{ module.code }}</p>
  <p>Credit: {{ module.credit }}</p>
  <p>Category: {{ module.category }}</p>
  <p>Description: {{ module.description }}</p>

  {% if module.availability %}
    {% if registration %}
      <p>You are registered for this module. <a href="{% url 'unregister_module' module.id %}">Unregister</a></p>
    {% else %}
      <p><a href="{% url 'register_module' module.id %}">Register for this module</a></p>
    {% endif %}
  {% else %}
    <p>This module is currently not open for registration.</p>
  {% endif %}
{% endblock %}
